* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 100;
    width: 100%;
}



.fondo {
    background-image: url("./img/banner-heroe.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 50%;
}

header {
    /* padding: 20px 0; */
    height: 20vh;
    display: flex;
    align-items: center;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    height: 7rem;
    max-width: 1200px;
    margin: 0 auto;
    
}

.hamburguer {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    font-weight: 300;
    
    
}

nav ul li a{
    text-decoration: none;
}

ul li {
    list-style: none;
}

.iconos-header ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    font-size: 1.2em;
    color: gray;
}

nav{
    transition-property: left;
    transition-duration: 0.7s;
}

@media (max-width: 600px) {

    header {
        background-color: rgb(224, 224, 224);
    }

    .fondo {
        display: none;
    } 

    header .container {
        align-items: center;
        height: 20vh;
        padding: 2em;
        background-color: rgb(224, 224, 224);
    }

    .hamburguer {
        display: block;
        font-size: 2em;
        color: gray;
        margin-right: 20px;
    }
    
    .logo {
        margin: 0 auto;
    
    }

    nav {
        display: block;
        width: 100%;
        height: 80vh;
        z-index: 100;
        position: fixed;
        left:  -100%;
        top: 20vh;
        text-align: center;

        background-color: rgba(7, 7, 12, 0.8);

        

        
    }

    .open {
        left: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        gap: 0;
        margin-top: 20px;
        width: 100%;
        

    }

    nav ul li {
        width: 80%;
        border-bottom: 1px solid white;
        padding: 20px;
    }

    nav ul li:hover {
        background-color: white;
        opacity: 0.1;
    }

    nav ul li:active {
        background-color: white;
        opacity: 0.2;
    }

    nav ul li a {
        color: white;

    }

    .iconos-header {
        display: none;
        
    }
  }

 /* ---------  Fin estilos para fondo y header ---------- */

/* ----------  Comienzo estilos para HEROE  ------------- */

#home {
    height: 80vh; 
    display: flex;
    align-items: center;
}
.heroe {
    /* width: 65%; */
    min-width: 65%;
    min-height: 80%;
    
    
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 0 auto;
    padding: 2em;
}
.carrusel {
    width: 30%;
}


.carousel {
    width: 30%; 
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 100%;
    min-height: 400px;
    background-size: cover;
}


.text-heroe {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.text-heroe h1 {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
}

.text-heroe ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.text-heroe ul li {
    display: flex;
}

.text-heroe ul li i {
    color: rgb(73, 41, 73);
    font-size: 2em;
}

.text-heroe ul h3 {
    font-weight: 100;
    font-size: 1.3em;
    padding-left: 2rem;
}


@media (max-width: 600px) {
    #home {
        display: block;
        height: auto;
        background-color: rgb(224, 224, 224);
    }

  .heroe {
    display: block;
    width: 95%;
    height: auto;
    padding: 0;
    background-color: rgb(224, 224, 224);
    padding-bottom: 0px;
    }
    
  
  .carousel {
      width: 80%;
      margin: 0 auto;
  }

  .text-heroe {
      width: 100%;
      gap: 0.5em;
      background-color: rgb(1, 1, 29);
      color: white;
      padding: 20px;
      margin-top: 20px;
  }

  .text-heroe h1 {
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 20px;
  }

  .text-heroe ul {
      gap: 1em;
  }

  .text-heroe ul h3 {
    font-weight: 100;
    font-size: 1em;
    padding-left: 1rem;
    color: white;
}

  h1 {
      font-size: 1em;
  }

}


/* ---------- FIN HEROE ---------- */

 /* -----------  Comienzo section TIPOS DE MAMPARAS ---------------- */

 #mamparas {
    margin: 30px 0;
 }

 h2 {
     text-align: center;
     font-size: 2.5em;
     font-weight: 100;
     margin: 40px 0;
 }

 .text-mamparas {
     max-width: 940px;
     padding: 20px;
     margin: 0 auto;
     text-align: center;
     font-size: 1.3em;
     margin-bottom: 50px;

 }
 .container-cards {
     max-width: 960px;

     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .card {
     width: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     border: 1px solid rgb(233, 233, 233);
     border-radius: 10px;
     box-shadow: 5px 5px 4px rgb(228, 228, 228);
 }

 .card h3 {
    font-size: 1.4em;
    font-weight: 400;
    padding: 10px;
    color: rgb(24, 24, 78);
    
 }

 .card-text {
     height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

 .card-text p {
     padding: 10px;
     font-weight: 300;
     text-align: center;
 }

 .card-text a {
     text-decoration: none;
     font-weight: 400;
     padding: 10px;
     background-color: rgb(56, 135, 199);
     color: white;
     border-radius: 8px;
     margin-bottom: 15px;

 }

 @media (max-width: 600px) {
    

    h2 {
        margin-top: 50pxpx;
        margin-bottom: 0px;
        font-size: 2em;
    }

    

    .container-cards {
        display: block;
        
    }

    .card {
        width: 85%;
        margin: 2em auto;
    }

    .text-mamparas {
        width: 90%;
        font-size: 1.2em;
    }
  }


 /* --------- Fin TIPO DE MAMPARAS --------------- */

 /* ----------- COMIENZO PRESUPUESTO (Form)  -------------- */


.container-form {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 8%;

}

form {
    padding: 60px;
    max-width: 600px;
    background-color: #E7E7E7;
    margin: 0 auto;
  }

form input, form select {
    margin-bottom: 15px;
    width: 420px;
    padding: 10px;
    
    border: none;
    color: #525c66;
    font-size: 1em;
    resize: horizontal;
    border-radius: 5px;
}

.button {
    background-color: rgb(28, 28, 94);
    color: white;
    margin-top: 50px;
}

.ejemplo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ejemplo h3 {
    font-size: 2em;
    font-weight: 300;
}

.ejemplo span {
    font-weight: 500;
    color: rgb(28, 28, 94);
}

.ejemplo p {
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;
}

@media (max-width: 600px) {
    .container-form {
        flex-direction: column;

    }

    .ejemplo {
        width: 95%;
        margin: 0 auto;
        /* order: 0; */
        margin-top: 20px;
        margin-bottom: 10px;

        border: 1px solid rgb(4, 4, 51);
        border-radius: 5px;
    }

    .ejemplo h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        
    }

    .ejemplo p {
        margin: 30px auto;
        width: 85%;
    }

    form{
        width: 100%;
        /* order: 1; */
    }

    form input, form select {
        width: 100%;
    }
  }

/* ---------- Fin PRESUPUESTO ----------- */

/* ----------- COMIENZO GALERIA -------------- */

.container-galeria {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px auto;
    justify-content: space-around;
    justify-items: center;
    gap: 15px;
}

.container-galeria div {
    width: 350px;
    height: 350px;
    
}

.etiqueta {
    background-color: rgb(51, 35, 51);
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etiqueta h3 {
    color: white;
    font-weight: 300;
    font-size: 2em;
}

.etiqueta:hover {
    opacity: 0;
}


.galeria-1 {
    background-image: url("./img/gal-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
}

.galeria-2 {
    background-image: url("./img/gal-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria-3 {
    background-image: url("./img/gal-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.galeria-4 {
    background-image: url("./img/gal-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria-5 {
    background-image: url("./img/gal-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria-6 {
    background-image: url("./img/gal-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {


    .container-galeria div {
        width: 170px;
        height: 170px;
        
    }
    .container-galeria {
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 170px auto;
        gap: 5px;
        
    }

    .etiqueta h3 {
        font-size: 1.2em;
    }


  }

 /* ------------ FIN GALERIA ---------------- */

 /* -------------- COMIENZA NOSOTROS ------------ */

 .cont {
    background-color: rgb(28, 28, 94);;
 }

 .container-nosotros {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5em;
     
     padding: 2em 0;
     max-width: 1200px;
     margin: 0 auto;
 }

 .container-nosotros div {
     width: 45%;
     
 }

 .container-nosotros p{
     width: 45%;
     color: white;
     font-size: 1.3em;
     text-align: center;
     
 }

 .container-nosotros div img {
     width: 100%;
 }


 @media (max-width: 600px) {

    .container-nosotros {
        flex-direction: column;
        gap: 2em;
    }

    .container-nosotros div {
        width: 85%;
        
    }

    .container-nosotros p {
        width: 85%;
    }


  }

  /* ------------ LOGO WHATSAPP ---------------- */

.logo-wsp {
    position: fixed;
    bottom: 60px;
    right: 60px;
}

@media (max-width: 600px) {
    
    .logo-wsp {
        
        bottom: 30px;
        right: 30px;
        opacity: 50%;
    }

    .logo-wsp a img {
        width: 60px;
    }
    
    }

  /* ------------- Comienza FOOTER ---------------- */

.container-footer {
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container-footer ul {
    
    display: flex;
    gap: 1.5em;
    margin: 0;

}

.container-footer ul li a i {
    font-size: 1.5em;
    color: rgb(39, 39, 41);
    margin: 0;
}

.container-footer p {
    margin: 0;
    font-weight: 300;
}

@media (max-width: 600px) {

    

    .container-footer {
        flex-direction: column;
        gap: 1em;
        height: auto;
        padding: 1em;
    }

    .container-footer ul {
    
        display: flex;
        gap: 1.5em;
        margin: 0;
        padding-left: 0;
    
    }
    


  }